@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.fontone{
  font-family: 'Bebas Neue', cursive;
}
.fontwo{
  font-family: 'Rubik', sans-serif;
}
.bg-one{
  background-color: #61dbfa;
}
.bg-two{
  background-color:#fffd9e;
}
.bg-three{
  background-color: #fff;
}
html {
  scroll-behavior: smooth;
}
